:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-color: #2196f3;
  --white-color: #ffffff;
  --logo-color: #000000;
  --background-color: #2f303a;
  --secondary-bacground-color: #f5f4fa;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--primary-text-color);
  background-color: var(--white-color);
  font-size: 14px;
  letter-spacing: 0.03;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.15;
  color: var(--logo-color);
  letter-spacing: 0.03em;
}

.logo-piece {
  color: var(--accent-color);
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.site-nav .nav-link {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.02em;
}

.nav-link:hover,
.nav-link:focus {
  color: var(--accent-color);
}

.header-contacts .contacts {
  color: var(--secondary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.02em;
}

.contacts:hover,
.contacts:focus {
  color: var(--accent-color);
}

.main-section {
  background-color: var(--background-color);
}
/* Поставил цвет серый, так как нет бэкграунда и цвет заголовка сливается со страницей. */

.main-section .main-header {
  color: var(--white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.37;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.06em;
}

.main-section .main-button {
  background-color: var(--accent-color);
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  border: 0;
  letter-spacing: 0.06em;
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
}

.benefits .benefits-header {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.15;
  text-transform: uppercase;
  letter-spacing: 0.03em;
}

.benefits .benefits-description {
  color: var(--secondary-text-color);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/* могу ли я здесь не давать класс секции, а напрямую обратиться к заголовку? */

.job-header {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

.team-wrapper {
  background-color: var(--secondary-bacground-color);
}

.team-wrapper .team-header {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.team-wrapper .team-description {
  color: var(--secondary-text-color);
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

/* Оставил адресу серый цвет, потому что бэкграунд белый. */

.footer-contacts {
  font-style: normal;
  letter-spacing: 0.03em;
}

.footer-contacts .footer-link {
  font-size: 14px;
  line-height: 1.71;
  color: var(--secondary-text-color);
}

.footer-link:hover,
.footer-link:focus {
  color: var(--accent-color);
}

/* CSS для портфолио */

/* Шрифт не похож, на то, как выглядит в макете, почему? Там он жирнее, как будто 600 */

.portfolio-section .filter-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  background-color: #f5f4fa;
  border: 0;
  color: var(--primary-text-color);
}

.filter-button {
  cursor: pointer;
  letter-spacing: 0.03em;
}

.filter-button:hover,
.filter-button:focus {
  background-color: var(--accent-color);
  color: var(--white-color);
}

.portfolio-cards .portfolio-header {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio-cards .portfolio-description {
  font-size: 16px;
  line-height: 1.88;
  color: var(--secondary-text-color);
  letter-spacing: 0.03em;
}
